* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-page {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 30px 50px;
  color: #666;
  font-size: 1.2em;
  font-weight: 500;
}

.text-2 {
  font-size: 1.25em;
  font-weight: 700;
}

.right-side button {
  color: #999;
  border: 1px solid #999;
  background: #fff;
  font-weight: 700;
}

nav {
  background-color: #ffbb00;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#svlabs {
  height: 50px;
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav li a.active {
  background-color: #c48f00;
  cursor: default;
}

nav li a:hover {
  background-color: #c48f00;
}

nav li {
  display: inline-block;
  margin-right: 5px;
}

nav li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu a {
  display: block;
  color: white;
  background-color: #ffbb00;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover {
  background-color: #c48f00;
}

.container {
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 30px auto;
  background-color: #fff;
  z-index: -1;
}

.container header {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

#bar {
  margin: 10px auto;
  bottom: -5px;
  height: 3px;
  width: 50px;
  border-radius: 8px;
  background-color: #ffbb00;
  border: none;
}

.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
}

.container form .form {
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}

.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  margin: 6px 0;
  color: #333;
}

.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.big-field {
  display: flex;
  flex-direction: column;
  width: 900px;
  max-width: 100%;
}

textarea {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 10px;
  height: 90px;
  margin: 8px 0;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
  color: #707070;
}

.input-field input[type="date"]:valid {
  color: #333;
}

.container form button,
.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px auto;
  background-color: #ffbb00;
  transition: all 0.3s linear;
  cursor: pointer;
}

form .nextBtn:hover {
  background-color: #c48f00;
}

form button i,
form .backBtn i {
  margin: 0 6px;
}

form .backBtn i {
  transform: rotate(180deg);
}

form .buttons {
  display: flex;
  align-items: center;
}

form .buttons button,
.backBtn {
  margin-right: 14px;
}

.loading {
  width: 20px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
  
  from {
      transform: rotate(0deg);
  }
}


@media (max-width: 750px) {
  .container form {
    overflow: scroll;
  }

  .container form::-webkit-scrollbar {
    display: none;
  }

  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }
}