* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-page {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 30px 50px;
  color: #666;
  font-size: 1.2em;
  font-weight: 500;
}

.text-2 {
  font-size: 1.25em;
  font-weight: 700;
}

.right-side button {
  color: #999;
  border: 1px solid #999;
  background: #fff;
  font-weight: 700;
}

nav {
  background-color: #ffbb00;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#svlabs {
  height: 50px;
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav li a.active {
  background-color: #c48f00;
  cursor: default;
}

nav li a:hover {
  background-color: #c48f00;
}

nav li {
  display: inline-block;
  margin-right: 5px;
}

nav li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu a {
  display: block;
  color: white;
  background-color: #ffbb00;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover {
  background-color: #c48f00;
}

.container {
  width: 90%;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  z-index: -1;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.title-container span {
  color: #c48f00;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.title-container span, .title-container h1 {
  font-size: 2.1rem;
}


#new-task {
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}
#new-task input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
}
#new-task input:focus {
  outline: none;
  border-color: #ffbb00;
}
#new-task button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #ffbb00;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin-top: 3.8em;
  width: 100%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
}
.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
.task button {
  color: #ffffff;
  padding: 0.8em 0;
  width: 2.8em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
}
.delete {
  background-color: #fb3b3b;
}
.edit {
  background-color: #0b87ff;
  margin-left: auto;
  margin-right: 1.3em;
}
.completed {
  text-decoration: line-through;
}